

/* 
According to the Worldwide Screen Resolution Stats (Jan 2020 – Jan 2021)

1920×1080 (8.89%)
1366×768 (8.44%)
360×640 (7.28%)
414×896 (4.58%)
1536×864 (3.88%)
375×667 (3.75%)

for large tablet - max-width: 991px;
for medium tablet - max-width: 767px;
for mobile phone  - max-width: 479px;

tablets:
Name    -                resulation   -  Viewport
Nexus 9 -	            (1536 x 2048) - (768 x 1024)
Nexus 7 (2013) -        (1200 x 1920) - (600 x 960)
Pixel C -	            (1800 x 2560) - (900 x 1280)
Samsung Galaxy Tab 10 - (800 x 1280) - (800 x 1280)
Chromebook Pixel -      (2560 x 1700) - (1280 x 850)

*/









/* =============================== For 1366×768 resulations device Start =========================== */


@media(max-width:1200px){
    .content-width{
        width:1000px;
    }
    .search-bar{
        width: 200px;
    }
    .navbar-unorder-list ul li a{
        padding: 0 8px;
    }









}

@media(max-width:1100px){
    .content-width{
        width:920px;
    }











}





/* =============================== For 1366×768 resulations device End =========================== */




/* =============================== Max Width 1050px Start =========================== */

@media (max-width: 991px) {
    .content-width{
        width:700px;
    }
    .sliding-info{
        flex: 4;
    }
    .social-icons{
        display: none;
    }
    .third-col-of-second{
        display: none;
    }
    .top-middle-second-col{
        flex: 8;
    }
    .navbar-unorder-list{
        display: none;
        
    }
    .search-bar{
        margin-right: 50px;
        width: 40%;
        height: fit-content;
        padding: 8px 10px;
    }
    .top-navbar-container{
        flex-direction: row-reverse;
        justify-content: right;
    }
    .top-navbar{
        padding: 8px 0px;
    }
    .top-navbar-container .menuBtn{
        display: block;
    }
    .inpo-flex-box{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        font-size: 12px;
    }
    .mid-info-layout1-container{
        display: block;
    }
    .mid-info-layout1-container .first-column .heading h2{
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    .mid-info-layout1-container .second-column h2{
        text-align: center;
        margin: 40px 0 30px 0;
        font-size: 1.5em;
    }
    .mid-info-layout1-container .first-column p{
        text-align: center;
    }
    .mid-info-layout1-container .first-column .flex-box .rows-common .sub-heading{
        justify-content: center;
    }
    .mid-info-layout1-container .first-column .flex-box .rows-common .sub-heading h5{
        margin-left: 18px;
    }
    .mid-info-layout1-container .first-column .flex-box .rows-common{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mid-info-layout1-container .second-column .md-content-box .md-content-box-texts p{
        margin-top: 8px;
    }
    .mid-info-layout1-container .second-column .link-boxs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mid-info-layout1-container .second-column .link-boxs .link-box2{
        width: 80%;
        margin: 10px 0 0 0;
    }
    .mid-info-layout1-container .second-column .link-boxs .link-box1{
        margin:0;
        width: 80%;
    }










}


@media (max-width: 767px) {
    .content-width{
        width:400px;
    }
    .top-middle-second-col{
        display: none;
    }
    .carousel-slider1{
        height: 325px;
        font-size: 10px;
    }
    .carousel-slider1-container .slide .content{
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
    }
    .inpo-flex-box{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        font-size: 12px;
    }
    .short-review-line-container{
        display: block;
    }
    .short-review-line-container .second-column button{
        
        margin: 30px 0 0 0;
    }



}



/* =============================== Max Width 1050px End =========================== */




/* =============================== Max Width 500px Start =========================== */


@media (max-width: 500px) {
    .content-width{
        width: 90%;
    }
    .flash-info .flash-item a{
        font-size: 14px;
        line-height: 15px;
    }
    .search-bar{
        width: 50%;
    }
    .top-middle-third-col{
        margin-left: 10px;
    }
    .carousel-slider1-container .slide .content h1{
        font-size: 2em;
    }
    .carousel-slider1{
        height: 280px;
        font-size: 8px;
    }
    .carousel-slider1-area .left-btn,
    .carousel-slider1-area .right-btn{
        height: 40px;
        width: 40px;
    }
    .carousel-slider1-area .left-btn i,
    .carousel-slider1-area .right-btn i{
        font-size: 0.8em;
        left: 50%;
        top: 55%;
        height: 30px;
        width: 30px;
    }

    .c-scr-info-container{
        flex-direction: column;
    }
    .c-scr-info .info{
        text-align: center;
        padding: 20px 0 0 0;
    }
    .c-scr-info .info .btns{
        margin-top: 20px;
        flex-direction: column;
    }
    .c-scr-info .info .btns button{
        margin: 10px 0;
    }






}







/* =============================== Max Width 500px End =========================== */











