


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",Arial,Sans-serif;
}
a{
    text-decoration: none;
    color: black;
}


.content-width{
    width: 1125px;
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================ Top Contents Start ======================== */
.top-contents{
    width: 100%;
    height: fit-content;
}

/* == Important Notices Start == */

.importent-notices-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}


.sliding-info{
    flex: 6;
    overflow: hidden;
}
.sliding-info-container{
    display: flex;
    height: 100%;
    width:fit-content;
    transition: all 20s cubic-bezier(1,1,1,1);
}
.sliding-info-container a pre{
    font-weight: 600;
    font-size: 12px;
    color: #00984a;
    text-transform: uppercase;
    line-height: 50px;
}
.sliding-info-container a{
    color: #00984a;
}



.flash-info{
    flex:7;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    
}
.flash-info .flash-item{
    min-height: 50px;
    padding: 0 5px 8px;
    transition: all 0.5s ease 0s;
}
.flash-info .flash-item a{
    display: flex;
    line-height: 20px;
    text-align: center;
}
.flash-info .flash-item a i{
    margin-right: 5px;
}






.social-icons{
    flex: 2;
    padding-left: 20px;
    display: flex;
}

.social-icons a i{
    margin-left: 20px;
    line-height: 50px;
    font-size: 13px;
}




/* == Important Notices End == */


/* == Top Middle Content Area Start == */
.top-middle-area{
    border-top: 1px solid #ddd;
}
.top-middle-area-container{
    display: flex;
    padding: 13px 0;
    
}
.top-middle-first-col{
    flex: 1;
    display: flex;
    align-items: center;
}
.top-middle-second-col{
    flex: 11;
    display: flex;
    align-items: center;
    letter-spacing: 0.6px;
}
.top-middle-third-col{
    flex: 4;
}

.top-middle-first-col img{
    width: 55px;
}
.first-col-of-second,
.second-col-of-second,
.third-col-of-second{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.first-col-of-second .icon i,
.second-col-of-second .icon i,
.third-col-of-second .icon i {
    font-size: 32px;
    color: #00984a;
    margin: 0 10px;
}
.first-col-of-second .texts a,
.third-col-of-second .texts a,
.second-col-of-second .texts p:last-child{
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.first-col-of-second .texts a:last-child{
    font-weight: 500;
    font-size: 10px;
    margin-top: 8px;
}
.first-col-of-second .texts,
.second-col-of-second .texts,
.third-col-of-second .texts{
    min-width: 100px;
}

.first-col-of-second .texts p,
.second-col-of-second .texts p:first-child,
.third-col-of-second .texts p{
    font-size: 12px;
    font-weight: bolder;
    color: #00984a;
}
.second-col-of-second .icon i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-middle-third-col{
    font-weight: 600;
}
.top-middle-third-col p{
    background-color: #00984a;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 8px 0;
    min-width: 200px;
    text-transform: uppercase;
    transition: all 2.2s;
}
.top-middle-third-col p:first-child{
    background-color: #00984a;
}
.top-middle-third-col p:last-child{
    background-color: #0073ab;
    margin-top: 10px;
}




/* == Top Middle Content Area End == */


/* =========== Top Navigation Bar Start ============ */

.top-navbar{
    background-color: #00984a;

}
.top-navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-navbar-container .menuBtn{
    display: none;
}
.top-navbar-container .menuBtn i{
    color: #fff;
    font-size: 20px;
}
.navbar-unorder-list ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbar-unorder-list ul li{
    border-right: 1px solid #038a44;
}
.navbar-unorder-list ul li:last-child{
    border-right: none;
}
.navbar-unorder-list ul li a{
    line-height: 60px;
    padding: 0 12px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    width: 250px;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 20px;
}
.search-bar input{
    border: none;
    width: 90%;
}
.search-bar input::placeholder{
    color: #cccccc;
}
.search-bar input:focus{
    border: none;
    outline: none;
}
.search-bar i{
    color: rgb(105, 105, 105);
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.top-nav-dropdown-li{
    position: relative;
}
.navbar-unorder-list ul .top-nav-dropdown-ul{
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #fff;
    width:max-content;
    display: none;
    transition: all 200ms;
    opacity: 0;
    z-index: 100;

}
.navbar-unorder-list ul .top-nav-dropdown-ul li{
    border-top: 1px solid #ddd;
    border-right: none;
}
.navbar-unorder-list ul .top-nav-dropdown-ul li:first-child{
    border-top: none;
}

.navbar-unorder-list ul .top-nav-dropdown-ul li a{
    line-height: 35px;
    padding: 0px 30px 0px 15px;
    color: #444;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
}





/* == Top Navigation Bar End == */






/* ======== Top Contents Stop ====== */



/*   Carousel slider-------------------->     */


.carousel-slider1{
    width: 100%;
    height: 425px;
    font-size: 12px;
}
.carousel-slider1-area{
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-slider1-area .left-btn,
.carousel-slider1-area .right-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    color: #00a04d;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* display: none;
    opacity: 0; */
    transition: all 500ms;
}
.carousel-slider1-area .left-btn i,
.carousel-slider1-area .right-btn i{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.carousel-slider1-area .left-btn i{
    left: 45%; 
}
.carousel-slider1-area .right-btn i{
    left: 53%;
}

.carousel-slider1-area .left-btn canvas,
.carousel-slider1-area .right-btn canvas{
    height: 50px;
    width: 50px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 50%;
}

.carousel-slider1-area .left-btn i:hover,
.carousel-slider1-area .right-btn i:hover{
    color: #00d467;
}

.carousel-slider1-area .left-btn,
.carousel-slider1-area .right-btn{
    font-size: 40px;
}
.carousel-slider1-area .left-btn {
    left: 4%;
}
.carousel-slider1-area .right-btn{
    right: 4%;
}
.carousel-slider1-container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: aqua;
}

.carousel-slider1-container .slide{
    /* width: from js; */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s linear;
}
.carousel-slider1-container .slide:first-child{
   opacity: 1;
}
.carousel-slider1-container .slide .content{
    position: absolute;
    left: 18%;
    top: 16%;
    background-color: #0073ab;
    height: min-content;
    width: fit-content;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    transition: all 1s;
    overflow: hidden;
}
.carousel-slider1-container .slide .content h5{
    font-size: 1.5em;
    font-weight: 500;
    transform: translateY(-20px);
    transition: transform 1s;
    opacity: 0;
}
.carousel-slider1-container .active-carousel-slide-h5 .content h5{
    transform: translateY(0px);
    opacity: 1;
}
.carousel-slider1-container .slide .content h1{
    margin-top: 15px;
    font-size: 2.5em;
    transition: transform 1s;
    transform: scaleX(1.5);
    opacity: 0;
}
.carousel-slider1-container .active-carousel-slide-h1 .content h1{
    transform: scale(1);
    opacity: 1;
}
.carousel-slider1-container .slide .content button{
    background-color: #00984a;
    opacity: 0;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    letter-spacing: 0.5px;
    margin-top: 50px;
    transform: translateY(30px);
    transition: transform 1s;
    border-radius: 5px;
}
.carousel-slider1-container .active-carousel-slide-button .content button{
    transform: translateY(0px);
    opacity: 1;
}
.carousel-slider1-container .slide .content button i{
    margin-left: 8px;
}











/*  <-------------------------------- */